/.idea                                                                                                                           
*.iml
*.iws
/.settings
/target
/target-eclipse
/web-app/WEB-INF
grails-cedit-*.zip
grails-cedit-*.zip.sha1
plugin.xml
.DS_Store
*.log
.classpath
.project
*.class
.gradle/
build/
bin/
